@import "./media.css";
@import "./editor.css";
@import "./mod/fluid-type.css";
@import "./mod/utils.css";
@import "./mod/ilya.css";

body {
  background-color: rgb(0, 94, 255);
}
.heading-style-h1 {
  font-size: 2rem;
  color: rgb(27, 221, 105);
  background-color: rgb(255, 0, 0);
}

