@import "./media.css";
@import "./editor.css";
@import "./mod/fluid-type.css";
@import "./mod/utils.css";
@import "./mod/ilya.css";

body {
  background-color: rgb(255, 230, 0);
}
.heading-style-h1 {
  font-size: 4rem;
  color: rgb(27, 221, 105);
}
